.no-js {
    @include breakpoint(small only) {
        .top-bar {
            display: none;
        }
    }

    @include breakpoint(medium) {
        .title-bar {
            display: none;
        }
    }
}


@include b(header){

    

    @include m(main){

        @include e(title-bar){
            @extend .title-bar;
        }

        @include e(title-bar-title){
            @extend .title-bar-title;
        }

        @include e(top-bar){
            @extend .top-bar;
        }

        @include e(top-bar-left){
            @extend .top-bar-left;
        }

        @include e(top-bar-right){
            @extend .top-bar-right;
        }

        @include e(dropdown-menu){
            @extend .menu;
            @extend .dropdown;
        }
    }

}